.card-container {
  width: 240px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin: 15px;
}

.show-title {
  margin: 0 0 20px 0;
}

.show-details {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.action-button {
  font-family: "Avenir", sans-serif;
  margin: 15px 0 0 0;
  width: 80px;
  height: 20px;
  border-radius: 8px;
  font-size: 10px;
  color: grey;
  border: none;
  background: rgb(252, 252, 252);
  padding: 0;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
