/* Resets */

/* Font size reset to base 10 (10px) in order to */
/* make relative font size calculations easier */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Avenir", sans-serif;
  background: #e8e8e8;
}

/* if box sizing is changed to content-box, please inherit box-sizing from the parent */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* End of resets */
